extends layout.pug

block content 
  h1.hood Weather in Sellwood
  h2.city Portland, Oregon
  main.flex
    .card
      h1.temp Temperature #{temp}&#x2109
      .heat Heat Index #{heatIndex}&#x2109
      .point Dew Point #{dewpt}&#x2109
      .chill Wind Chill #{windChill}&#x2109
      .speed Wind Speed #{windSpeed} mh
      .gust Wind Gust #{windGust} mh
      .pressure Pressure #{pressure} hg
      .rate Precipitation Rate #{precipRate} in
      .total Total Precipitation #{precipTotal} in
      .elevation Elevation #{elev} ft

