extends layout.pug

block content 
  h1.hood Weather in #{neighborhood}
  h2.city Portland, Oregon
  h2.city #{obsTimeLocal}
  main.flex
    .card
      h1.temp Temperature #{imperial.temp}&#x2109
      .heat Heat Index #{imperial.heatIndex}&#x2109
      .point Dew Point #{imperial.dewpt}&#x2109
      .chill Wind Chill #{imperial.windChill}&#x2109
      .elevation Elevation #{imperial.elev} ft

    .card
      h1.temp Rain Rate #{imperial.precipRate} in
      .total Total Precipitation #{imperial.precipTotal} in
      .speed Wind Speed #{imperial.windSpeed} mh
      .gust Wind Gust #{imperial.windGust} mh
      .pressure Pressure #{imperial.pressure} hg


  script.
    function autoRefresh() {
    window.location = window.location.href;
    }
    setInterval('autoRefresh()', 300000);